/* гуглил, думаю в этом случае можно задавать в боди значения */
body {
    background: url(../imges/background-img.png);
    background-repeat: no-repeat; /* Отключаю повторы картинки */
    background-position: center center; /* Центрируем позиционирование заднего фона */ 
    background-attachment: fixed;
    background-size: cover; 
    height: 100%;
}

/* Начала хедера */
.header-menu {
    margin-top: 46px;
    display: flex;
    color: white;
    justify-content: space-around;
}

/* Картинка */
.img {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative; /* Добавим позиционирование для псевдоэлемента */
}

/* Псевдоэлемент для замены картинки при наведении (Спасибо сhat gpt) */
.img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 2;
    width: 53px;
    height: 47px;
    background-image: url('../imges/logo2.png'); /* Замените на путь к другой картинке */
    background-size: cover;
    opacity: 0;
    transition: 0.5s ease; /* Плавный переход при наведении */
}

.img:hover::before {
    opacity: 1;
}
/* Milan holidays */
.logo-title {
    padding-right: 40px;
    width: 140px;
    height: 30px;
    font-size: 29px;
    font-weight: 700;
    line-height: 29px;
    padding-left: 12px;
}

.logo-title-holidays {
    width: 135px;
    height: 21px;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
}
/* Емеил и номер телефона */
.contacts {
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 219px;
    height: 21px;   
    font-size: 18px;
    font-weight: 400;
}

.number{
    padding-top:20px ;
}
.img:hover {
    color: #F26522;
    transition: 0.5s;
}
.number:hover {
    transition: 250ms;
    color: #F26522;
}

.email:hover {
    transition: 250ms;
    color: #F26522;
}


/* Main ---------------------------------- */


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-wrapper {
    display: flex;
    justify-content: center;
}



.container {
    position: relative;
    width: 100%;
    height: 222px;
    margin: 60px;
}

/* создание выплывающей плашки */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F26522;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 800ms;
}

.container:hover .overlay {
    height: 20%;
}

.text { 
    color: white;
    font-size: 10px;
    position: absolute;
    overflow: hidden;
    top: 17px;
    left: 40px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* текст внутри плашки */
.cost {
    font-size: 25px;
    font-weight: 400;
    line-height: 20px
}


.details {
    white-space: nowrap;
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.under-text {
    padding-top: 20px;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px
}

.under-text:hover {
    transition: 500ms;
    color: #F26522;
}

.details:hover {
    transition: 250ms;
    color: wheat;
}

.text:hover {
    transition: 250ms;
    color: wheat;
}




/* Футер ---------------------- */
.footer-paragraph {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.paragraph {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 12px;
    margin-bottom: 20px;
}

.paragraph:hover {
    transition: 850ms;
    color: wheat;
}

















































